body {
	margin: 0;
	padding: 0;
	font-size: 100%;
	color:black;
}

.book-table {
    border: 1px solid black;
    color: green;
}

.book-form {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.app-container {
    padding: 30px;
}
